/* CSS Reset */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


/* CSS Variables */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 99;
    top: 0px;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* Logo & Image */
#logo{
    margin: 5px 35px;
}

#logo img{
    height: 75px;
    margin: 6px 8px;
    filter: invert(100%);
}
/*Navigation bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li{
    
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 563px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background:url('../Images/bg5.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 670px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Servies Section */

/* add */
#services-container{
    position: relative;
}

#services-container::before{
    content: "";
    background: url('../Images/bg6.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

#services{
    margin: 0 34px;
    display: flex;
    /* add */
    padding-bottom: 60px;   

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(220 220 220);
    opacity: 0.9;
}
#services .box img{
    height: 180px;
    margin: auto;
    display: block;

}
#services .box p{
    font-family: 'Bree Serif', serif;
}
/* #services{} */

/* Client Section */
#client-section{
    position: relative;
    /* height: 344px; */
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../Images/contact2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-items{
    padding: 25px;

}
#clients img{
    height: 180px;

}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../Images/contact1.jpg') no-repeat center center/cover;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 8px;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;

}

#contact-box label{
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

    /* color: white; */

}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    /* color: white;  */
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
  transition: all 0.5s;
  position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

.center{
    text-align: center;
}